.counter-card-container {
    min-width: 165px;
    width: auto;
    height: 110px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 370px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.counter-card-container p {
    margin: 0;
    padding: 0;
}

.counter-card-container .counter  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-card-container .counter p{
    margin: 0;
    padding: 0;
}

.counter-card-container .counter button {
    border: 0;
    width: 30px;
    margin: 0;
    padding: 0;
}